* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Inter", sans-serif;
}

section.screen {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #09090a;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  background-color: #1e1e1e;
  min-height: 380px;
  min-width: 250px;
  width: 500px;
  max-width: 550px;
  border-radius: 8px;
  border: #6559d7 4.5px solid;
  padding: 20px 30px;
  box-shadow: 1px 1px 10px 1px rgba(101, 89, 215, 0.49);
}

.box h1 {
  margin-bottom: 30px;
  text-align: center;
}

.box form {
  display: flex;
  flex-direction: column;
}

form > input {
  margin-bottom: 15px;
}

form input {
  outline: none;
  border: 1px solid transparent;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #2e2d2d;
  caret-color: #fff;
  color: #fff;
  height: 50px;
}

form input::placeholder {
  color: #ffffff9e;
  font-size: 15px;
}

form input:focus {
  border: #6559d7 1.5px solid;
  box-shadow: 0.5px 0.5px 5px 0.5px rgba(101, 89, 215, 0.49);
}

form input:hover {
  border-color: #6559d7;
  border-width: 1.5px;
}

form span {
  margin-bottom: 30px;
}

form span a {
  text-decoration: none;
  font-weight: 500;
  color: #6659d7;
}

form button {
  cursor: pointer;
  border: none;
  min-height: 60px;
  background-color: #6559d7;
  border-radius: 5px;
  transition: 400ms;
}

form button:hover {
  opacity: 0.8;
}

form button:focus,
form button:active {
  outline: none;
}

form button:active {
  opacity: 0.7;
}

form button i {
  color: #fff;
  font-size: 50px;
  margin: 10px 0;
}

.box p {
  text-align: center;
  margin-top: 10px;
  color: #fff;
  font-size: 15px;
}

.box p a {
  font-weight: 700;
  text-decoration: none;
  color: #6559d7;
}



@media screen and (max-width: 550px) {
  .box {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .box {
    width: 300px;
  }
}

@media screen and (max-width: 280px) {
  .box {
    width: 200px;
  }
}